<div class="grid-container">

	{{#if data}}
	<p>Cart: 0</p>
	{{else}}
	<P>Empty store, please come back later!</P>
	{{/if}}

	{{#each data}}

	<div class="grid-item"><img src="" alt="image">
		<div class="grid-item-details">
			<p><b>this.name</b></p>
			<p>this.price</p>
			<span class="text-muted">this.quantity</span>
		</div>
	</div>

	{{/each}}
</div>