<div class="grid-container">
	<div class="grid-container">

		{{#if data}}
		{{else}}
		<P>Empty store, please come back later!</P>

		{{#each data}}

		<div class="grid-item"><img src="{{this.imgUrl}}}" alt="image">
			<div class="grid-item-details">
				<p><b>this.name</b></p>
				<p>this.price</p>
				<span class="text-muted">this.quantity</span>
			</div>
		</div>

		{{/each}}
	</div>
</div>