<div class="grid-container">
	<div class="grid-container">
		<div class="grid-item"><img src="https://asset.brandfetch.io/idIu-Ji9Le/idMV60hx5Z.jpeg" alt="Logo">
			<div class="grid-item-details">
				<p><b>Senior Solutions Specialist</b></p>
				<p>Deloitte</p><span class="text-muted">Jul 2022 - Present</span> <br><span class="text-muted">Seattle,
					WA</span>
			</div>
		</div>
		
	</div>
</div>